@model CatsViewModel
@{
    ViewData["Title"] = "Cats";
}
@if (Model.Heading != null)
{
    <h3>@Model.Heading</h3>
}
<ul id="cats" class="row">
    @foreach (var cat in Model.Cats)
    {
        @await Html.PartialAsync("_CatCardPartial", cat);
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            LikesController.init($("#cats"));
        });
    </script>
}