
@model CatFormViewModel
@{
    ViewData["Title"] = "Add a Cat";
}
<h2>Add a Cat</h2>

<form asp-controller="Cats" asp-action="Create" method="post" enctype="multipart/form-data" >
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-sm-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" autofocus="autofocus" />
            <small>
                <span asp-validation-for="Name" class="form-text text-muted font-italic"></span>
            </small>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label asp-for="BirthDateText" class="control-label"></label>
            <input asp-for="BirthDateText" class="form-control" placeholder="01/01/2000" />
            <small>
                <span asp-validation-for="BirthDateText" class="form-text text-muted font-italic"></span>
            </small>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label asp-for="BreedId" class="control-label"></label>
            <select asp-for="BreedId" asp-items="Model.Breeds" class="form-control">
                <option value=""></option>
            </select>
            <small>
                <span asp-validation-for="BreedId" class="form-text text-muted font-italic"></span>
            </small>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="form-inline">
                <div class="form-group">
                    <input asp-for="IsDeceased" class="form-control" data-toggle="collapse" data-target="#dateOfDeathField"/>
                    <label asp-for="IsDeceased" class="control-label"></label>
                </div>
                <div class="ml-2 form-group collapse" id="dateOfDeathField">
                    <label asp-for="DeathDateText" class="control-label"></label>
                    <input asp-for="DeathDateText" class="form-control" placeholder="01/01/2000" />
                </div>
            </div>
            <small>
                <span asp-validation-for="IsDeceased" class="form-text text-muted font-italic"></span>
            </small>
            <small>
                <span asp-validation-for="DeathDateText" class="form-text text-muted font-italic"></span>
            </small>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label asp-for="Weight" class="control-label"></label>
            <input asp-for="Weight" class="form-control" />
            <small>
                <span asp-validation-for="Weight" class="form-text text-muted font-italic"></span>
            </small>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input asp-for="Image" class="form-control" type="file" accept="image/*" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-lg">Save</button>
    </div>
</form>